<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/user.css">
        <%-style%>
       </head>
    <header>
        <h1>
            Page Header!!
        </h1>
    </header>
    <body>
        <%-body%>
        <footer>
            <h1>
                Page Footer!!
            </h1>
        </footer>
        <%-script %>
    </body>
    
</html>