<h2 style="text-align: center;">
    To change Your password verify your email!
</h2>
<form action="/auth/verify-email" method="POST" style="text-align: center;">
    <input type="email" name="email" placeholder="Enter Your Email here..." required>
    <input type="submit" value="Submit">
</form>
