body
{   
    margin:0;
    #home-container
    {
    display:flex;
    font-size: 1.7rem;
    
    margin:1%;
    #feed-posts
    {
        width:60%;
        padding: 2%;
       
    }
    #user-friends
    {
        width:30%;
        padding: 2%;
      
        
    }
   
    
}
}
