body {
  margin: 0; }
  body #home-container {
    display: flex;
    font-size: 1.2rem;
    margin: 1%; }
    body #home-container #feed-posts {
      width: 35%;
      padding: 2%; }
    body #home-container #user-friends {
      width: 25%;
      padding: 2%; }
    body #home-container #users {
      width: 25%;
      padding: 2%; }
